<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
  <div class="navbar-header" style="max-height:10px;">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    <li class="dropdown plan">
        <a href="#" class="dropdown-toggle"  data-toggle="dropdown"><span class="glyphicon glyphicon-map-marker"></span> Plan trip <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="navvie" href="{{ site.baseurl }}/">OpenTripPlanner</a></li>
          <li><a class="navvie" href="{{ site.baseurl }}/goog">Google Maps</a></li>
          <!-- <li><a href="{{ site.baseurl }}/explore/map"><span class="glyphicon glyphicon-map-marker"></span> Map</a></li>
          <li class="divider"></li>
          <li><a href="http://atlantaregional.com/about-us/regional-data-and-tools"><span class="glyphicon glyphicon-search"></span> Other ARC data</a></li> -->
        </ul>
      </li>
      <li class="fare"><a class="navvie" href="{{ site.baseurl }}/fare"><span class="glyphicon glyphicon-usd"></span> Get fare</a></li>
      <li class="real-time"></li>
      <li class="dropdown real-time">
        <a href="#" class="dropdown-toggle"  data-toggle="dropdown"><span class="glyphicon glyphicon-flash"></span> Real-time info <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="navvie" href="{{ site.baseurl }}/real-time">Arrival info</a></li>
          <li><a class="navvie" href="{{ site.baseurl }}/alerts">Service Alerts</a></li>
          <!-- <li><a href="{{ site.baseurl }}/explore/map"><span class="glyphicon glyphicon-map-marker"></span> Map</a></li>
          <li class="divider"></li>
          <li><a href="http://atlantaregional.com/about-us/regional-data-and-tools"><span class="glyphicon glyphicon-search"></span> Other ARC data</a></li> -->
        </ul>
      </li>
<!--       <li class="alerts"><a class="navvie" href="{{ site.baseurl }}/alerts">Alerts</a></li>
 -->      
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li class="about" style="position:relative;right:180px;"><a class="navvie" href="{{ site.baseurl }}/about" >About</a></li>
      
      <li style="position:relative; top:10px; left:10px;">
        <span>
          <!-- <span id="welcome-message" style="display:none;"></span><button id="gh-login" class="btn btn-success" data-loading-text="Logging in..." title="Log in with GitHub">Log in</button> -->
          <a href="{{ site.baseurl }}/" class="hidden-xs navvie" style="position:absolute;right:15px;top:3px;"  title="View on GitHub"><img height="54px" id="gh" src="{{ site.baseurl }}/lib/images/go_atl274.png"></a>
        </span>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</div>
<script type="text/javascript">
  $.cookie.json = true;

  // Code to make the appropriate nav active
  var nav = '{{ page.category }}'
  if(nav != '')
    $('.' + nav ).addClass('active');

  var code = '';
  if($.cookie('token') !== undefined){
    console.log("cookie worked!")
  }
  else
    console.log("cookie didn't work!")

  var github;
  if(window.location.href.split('?').length > 1){
    code = window.location.href.match(/\?code=(.*)/)[1];
    $('.btn').button()
    $('#gh-login').button('loading')
    $.getJSON('http://gatekeeper-plan-it.herokuapp.com/authenticate/'+code, function(data) {
      
     console.log(data.token);
     $.cookie('token', data.token);
     window.history.pushState("object or string", "Title", "{{ site.baseurl }}/")
     $.getJSON("https://api.github.com/user?access_token="+ data.token, function(data){
        

        $.cookie('user', data)
        $('#welcome-message').html('<a style="margin-right:5px;" href="'+$.cookie('user').html_url+'">'+$.cookie('user').login+'</a><a style="margin-right:5px;" href="'+$.cookie('user').html_url+'"><img width="34px" style="margin-right:5px;" height="34px" src="'+$.cookie('user').avatar_url+'"></a>').show()
        $('#gh-login').removeClass('btn-success').addClass('btn-danger').text('Log out').attr('title', 'Log out of Plan-It')
        console.log('showing username')
        $('#gh-login').button('reset').text('Log out')
        if($.cookie('return-href') !== undefined){
          window.location = $.cookie('return-href')
        }
     })
    });
  }
  github = new Github({
      token: $.cookie('token'),
      auth: "oauth"
     })
  if ($.cookie('token') !== undefined){
    $('#welcome-message').html('<a style="margin-right:5px;" href="'+$.cookie('user').html_url+'">'+$.cookie('user').login+'</a><a style="margin-right:5px;" href="'+$.cookie('user').html_url+'"><img width="34px" style="margin-right:5px;" height="34px" src="'+$.cookie('user').avatar_url+'"></a>').show()
    $('#gh-login').removeClass('btn-success').addClass('btn-danger').text('Log out').attr('title', 'Log out of Plan-It')
    
  }


  $('#gh-view').click(function(){
    window.location='https://github.com/landonreed/plan-it'
  })
  $('#gh-login').click(function(){
    if($(this).hasClass('btn-success')){
      // $.cookie('return-href', window.location.href)
      // setTimeout(function(){
        window.location='https://github.com/login/oauth/authorize?response_type=code&client_id=a37cadae6a1f4bdd4237&scope=public_repo'  
      // }, 250)
      
    }
    else{
      window.location='{{ site.baseurl }}/'
      $.removeCookie('user', { path: '{{ site.baseurl }}' })
      $.removeCookie('token', { path: '{{ site.baseurl }}' })
      $('#welcome-message').hide()
      $('#gh-login').removeClass('btn-danger').addClass('btn-success').text('Log in').attr('title', 'Log in with GitHub')
      // window.location = '{{ site.baseurl }}/'
      
    }

  })
</script>